@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100..900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
  font-family: 'Saira', sans-serif;
  scrollbar-color: #00d5ae #000000;
}